html {
  scroll-behavior: smooth;
}

.jumbotron {
  background-image: url("../img/fundo.jpg");
  background-size: cover;
  color: white;
  z-index: -1;
}

.jumbotron .container * {
  z-index: 3;
  position: relative;
}

.nav-link {
  color: red;
}

.dark_mode_margem {
  margin-right: 5%;
}

.img_colaborador {
  width: 50%;
  height: auto;
}

@media(max-width: 540px){
  .navbar-toggler{
    margin-right: 25%;
  }
  .nav-link{
    width: 100%;
   font-size: 12px;
  }
  .btn{
    width: 86%;
    margin: 1%;
    padding: 2%;
    font-size: 12px;
  }
}